doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/starter-template.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/floating-labels.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-primary.fixed-top
      a.navbar-brand(href="#") User Authentication
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li(class = (title == 'Members Area' ? 'active' : '')).nav-item
            a.nav-link(href="/") Home  
          li(class = (title == 'Register' ? 'active' : '')).nav-item
            a.nav-link(href="/users/register") Register     
          li(class = (title == 'Login' ? 'active' : '')).nav-item
            a.nav-link(href="/users/login") Login   
        ul.nav.navbar-nav.navbar-right
          li(class = (title == 'Logout' ? 'active' : '')).nav-item
            a.nav-link(href="/users/logout") Logout
    main.container(role="main")
      .starter-template
        != messages()
        block content
        footer
          p.mt-5.mb-3.text-muted.text-center © 2020
