extends layout

block content
    form.form-signin(action="/users/login", method="post", enctype = 'multipart/form-data')
      .text-center.mb-4
        h1.h3.mb-3.font-weight-normal Login
        p
          | Log into the Members Area
      .form-label-group
        input#inputUsername.form-control(type="text" placeholder="Username" required="" autofocus="")
        label(for="inputUsername") Username
      .form-label-group
        input#inputPassword.form-control(type="password" placeholder="Password" required="")
        label(for="inputPassword") Password
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Login


