extends layout

block content
    form.form-signin(action="/users/register", method="post", enctype = 'multipart/form-data')
      .text-center.mb-4
        h1.h3.mb-3.font-weight-normal Register
        p
          | Register now to join in with the other members
      .form-label-group
        input#inputName.form-control(name = 'inputName' type="text" placeholder="Name" required="" autofocus="")
        label(for="inputName") Name
      .form-label-group
        input#inputEmail.form-control(name = 'inputEmail' type="email" placeholder="Email address" required="" autofocus="")
        label(for="inputEmail") Email address
      .form-label-group
        input#inputUsername.form-control(name = 'inputUsername' type="text" placeholder="Username" required="" autofocus="")
        label(for="inputUsername") Username
      .form-label-group
        input#inputPassword.form-control(name = 'inputPassword' type="password" placeholder="Password" required="")
        label(for="inputPassword") Password
      .form-label-group
        input#inputCheckPassword.form-control(name = 'inputCheckPassword' type="password" placeholder="Check Password" required="")
        label(for="inputCheckPassword") Check Password
      .form-label-group
        input#profileimage.align-content-center(name = 'profileimage' type="file" accept="image/*" placeholder="Profile Picture" required="")
      button.btn.btn-lg.btn-primary.btn-block(type="submit", name='submit') Sign in

